<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://asktemplate.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>asktemplate.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ASKTemplate</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ASKTemplate</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ASKDataContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:azureyoda.database.windows.net,1433;Initial Catalog=ASKDataContext;Persist Security Info=False;User ID=apleroy;Password=37TemplePlace#;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:azureyoda.database.windows.net,1433;Initial Catalog=ASKDataContext;Persist Security Info=False;User ID=apleroy;Password=37TemplePlace#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ASK.Repository.ASKDataContext, ASK.Repository" MigrationConfiguration="ASK.Repository.Migrations.Configuration, ASK.Repository" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:azureyoda.database.windows.net,1433;Initial Catalog=ASKDataContext;Persist Security Info=False;User ID=apleroy;Password=37TemplePlace#;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:azureyoda.database.windows.net,1433;Initial Catalog=ASKDataContext;Persist Security Info=False;User ID=apleroy;Password=37TemplePlace#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ASK.WebApp.Models.ApplicationDbContext, ASK.WebApp" MigrationConfiguration="ASK.WebApp.Migrations.Configuration, ASK.WebApp" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ASKDataContext-Web.config Connection String">
      <ParameterValue>Server=tcp:azureyoda.database.windows.net,1433;Initial Catalog=ASKDataContext;Persist Security Info=False;User ID=apleroy;Password=37TemplePlace#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:azureyoda.database.windows.net,1433;Initial Catalog=ASKDataContext;Persist Security Info=False;User ID=apleroy;Password=37TemplePlace#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ASKDataContext" />
  </ItemGroup>
</Project>